<div class="navbar">
    <span class="company_logo">LOGO </span>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">First Item</a></li>
        <li><a href="#">Second Item</a></li>
        <li><a href="#">Third Item</a></li>
    </ul>
</div>

<section class="section1">
    <div class="flex_wrapper">
        <div class="product_detils_wrapper">
            <div class="product_detils">
                <div>
                    <h1>Product</h1>
                    <p>Staying Current With The Newest In Medical Device Technology Like Never Before</p>
                </div>
                <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.Nunc luctus in
                    metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                <button class="btn btn-default" type="button" onclick="showPopup('sub-form')">Subscribe</button>
            </div>
        </div>
        <div class="video_wrapper">
                <iframe class=promo_video  src="https://www.youtube.com/embed/aR5N2Jl8k14?version=3&enablejsapi=1rel=0&amp;controls=0&autoplay=0&amp;showinfo=0&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pop_up_form animated" id="sub-form">
        <div class="form_container">

            <span onclick="hidePopup('sub-form')" class="glyphicon glyphicon-remove"></span>

            <div class="intro">
                <h2 class="text-center">Subscribe for our Newsletter</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.
                </p>
            </div>

            <%= form_for @subscription, url: {action: "create"} do |f| %>
                <div class="">
                    <%= f.text_field :first_name, placeholder: "First Name", lable: "First name", class: "first_and_last_name" %>

                    <%= f.text_field :last_name, placeholder: "Last Name", lable: "Last Name", class: "first_and_last_name" %>
                </div>
                <div class="">
                    <%= f.email_field :email, placeholder: "Email", lable: "Email", class: "email_field" %>

                </div>
                <div class="">
                    <%= f.submit "Subscribe", class: "btn btn-primary" %>

                </div>
            <% end %>
        </div>

    </div>

</section>

<section class="footer_panel">
    <img src="raw.png" alt="MDM">
    <!-- <span class="footer_logo"> LOGO HERE </span> -->
    <p>Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.</p>
    <p>Copy-rights ©2017</p>
    <div class="footer_input_wrapper">
        <input type="text" name="" value="">
        <button type="button" name="button">Button</button>
    </div>
    <div class="footer_social_media">

    </div>
</section>
