
<section class="first_panel">
    <div class="background"> </div>
    <div class="mission_statement">
      <h1><img src="raw2.png" id="logo" style="width:60px;margin-bottom:13px;margin-right:24px;">Medical Device Market </h1>
      <p>Staying Current With The Newest In Medical Device Technology Like Never Before </p>

      <div class="video_wrapper" data-lightbox="video-1">
        <iframe id="video_front_page"  src="https://player.vimeo.com/video/208334095?autoplay=1&color=ffffff&title=0&byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
</section>

<section class="second_panel">
  <div class="dim_background">

    <div class="sub_message">
        <h2>Subscribe for our Newsletter</h2>
        <p>Be the first to hear our news and special offers. Subscribe today. </p>
    </div>

    <p class="pop-up-button">Subscribe</p>
    <div class="pop-up">
      <span>x</span>
      <div class="pop-up-text">
        <!-- <h1>Heading 1</h1> -->
        <!-- <p>Some sample pop-up text.</p> -->
        <%= form_for @subscription, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
          <%= f.text_field :first_name, placeholder: "First Name", lable: "First name", class: "form-control" %>
          <br>
          <%= f.text_field :last_name, placeholder: "Last Name", lable: "Last Name", class: "form-control" %>
          <br>
          <%= f.email_field :email, placeholder: "Email", lable: "Email", class: "email_field form-control" %>
          <br>
          <%= f.submit "Subscribe", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <!-- <div class="subscriptions_form_wrapper" >
      <%= form_for @subscription, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
        <%= f.text_field :first_name, placeholder: "First Name", lable: "First name", class: "form-control" %>
        <%= f.text_field :last_name, placeholder: "Last Name", lable: "Last Name", class: "form-control" %>
        <br>
        <%= f.email_field :email, placeholder: "Email", lable: "Email", class: "email_field form-control" %>

        <%= f.submit "Subscribe", class: "btn btn-primary" %>
      <% end %>
    </div> -->

  </div>
</section>

<section class="foorter_panel">
  <footer>
    <h1>Footer stuff </h1>
    <p>Copy-rights ©2017</p>
  </footer>
</section>
